{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h1>Генератор технических заданий</h1>
            <p class="lead">Создавайте и проверяйте технические задания с помощью ИИ</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Генерация ТЗ</h5>
                    <p class="card-text">Создайте новое техническое задание на основе описания проекта</p>
                    <a href="/generate" class="btn btn-primary">Создать ТЗ</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Проверка ТЗ</h5>
                    <p class="card-text">Проверьте существующее техническое задание на полноту и качество</p>
                    <a href="/validate" class="btn btn-success">Проверить ТЗ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}